<div class="page-header">
	<div class="row">
		<div class="col-md-3 text-center">
			<img src="assets/images/army.gif" width=125>
		</div>
		<div class="col-md-3 text-center">
			<img src="assets/images/navy.gif" width=125>
		</div>
		<div class="col-md-3 text-center">
			<img src="assets/images/marine_corps.gif" width=125>
		</div>
		<div class="col-md-3 text-center">
			<img src="assets/images/air_force.gif" width=125>
		</div>
	</div>
</div>

<div class="jumbotron">
  <h1>Prior Learning Assessment</h1>
  <p>One of the goals of the <a href="http://hiteducation.org/dol-taa-ccct-health-e-workforce-consortium/" target="_blank">Health eWorkforce Consortium</a> is to advance best practices in Prior Learning Assessment both within the Consortium and at the institutional level.</p>
  <p>PLA is a term used to describe learning gained outside a traditional academic environment. Put another way, it’s learning and knowledge students acquire while living their lives: working, participating in employer training programs, serving in the military, studying independently, volunteering or doing community service, and studying open source courseware. PLA is the evaluation and assessment of an individual’s life learning for college credit, certification, or advanced standing toward further education or training.</p>
  <p>
    {{#link-to 'pla.crosswalk' class="btn btn-primary btn-lg" role="button"}}View Occupations{{/link-to}}
  </p>
</div>