<div class="row hidden-sm hidden-xs">
	<div class="col-md-1"></div>
	<div class="col-md-2 text-center">
		<img src="assets/images/army.gif" width="100">
	</div>
	<div class="col-md-2 text-center">
		<img src="assets/images/navy.gif" width="100">
	</div>
	<div class="col-md-2 text-center">
		<img src="assets/images/marine_corps.gif" width="100">
	</div>
	<div class="col-md-2 text-center">
		<img src="assets/images/air_force.gif" width="100">
	</div>
	<div class="col-md-2 text-center">
		<img src="assets/images/coast_guard.gif" width="100">
	</div>
	<div class="col-md-1"></div>
</div>
<hr>
<div class="jumbotron">
	<div class="row">
		<div class="col-md-3 col-sm-12 text-center">
			<img src="/assets/images/bellevuecollege.png" height="170">
		</div>
		<div class="col-md-9 col-sm-12 text-center">
			<h1>Employer's Military<br>Skill Locator</h1>
		</div>
		<div class="col-md-12">
			<hr>
			<p>The Employer’s Military Skill Locator was developed to encourage and expedite veteran hiring and assist colleges with assignment of prior learning credit based on military experience. It answers the often asked question ‘What military occupation is most like the job I want to fill with a veteran?’</p>
			<p>This tool is under development as a proof of concept and is limited to a subset of occupations in health information technology. Extrapolation to any industry sector is entirely feasible, leveraging foundational work of the American Council on Education <em>Guide to the Evaluation of Education Experience in the Armed Services</em>.</p>
			<p>{{#link-to 'pla.crosswalk' class="btn btn-primary btn-lg" role="button"}}View Occupations{{/link-to}}</p>
		</div>
	</div>
	<div class="row">

	</div>
</div>