<div class="jumbotron">
  <h1>Prior Learning Assessment</h1>
  <p>This is some introductory text.  Explain why this page is important and everyone loves it.  Andy Brucia is the master of all things PLA.</p>
  <p>
    {{#link-to 'pla.crosswalk' class="btn btn-primary btn-lg" role="button"}}Occupations{{/link-to}}
  </p>
</div>